@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>My name is Robert Lopez and I am currently training as a software developer. I have also a passion for helping people become the best versions of themselves. When this happens people are able to live full lives the way they choose. One of the best ways that I know how to do this is helping people get healthies overall. For me this is down through three categories: fitenss, spirit, and food. In this webpage you will the tools you need to start recording your health journey! If there are any questions please reach out me via the contact page! </p>
