@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    123 XYZ Road<br />
    Somewhere town, The Wolrd 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    123-4567-8910
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>