@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Fitness: Making You Healthy In A Healthy Way!</h1>
    <p class="lead">
        I’m designing this place not as a place to finish, but as a place to start someone's fitness journey. What most people don't realize when it comes to fitness is there are many parts to being fit. This comes in the form of their nutrition, the physical exercises that they do, their spiritual influences, social interactions, and even what time you wake-up in the morning. Each area cannot and SHOULD NOT be ignored.
    </p>

    <p class="lead">
        At this webpage we do not judge someone, for their success or failures. That only breeds discontent and goes against the very core of this project. Everyone will fall off the wagon and make mistakes. YOU SHOULD BE embracing those mistakes. So you ate a cookie. View it as an opportunity to grow. So you slept in and skipped the morning workout, that is fine you are just engaging a different part of being healthy. The key is to try and keep all of these competing motivations, desires, and emotions in balance with each other.
    </p>

    <p class="lead">
        I will not lie. This will be hard at first. Every journey starts with a single step. So maybe you decided to log on, and take a look at our offerings. That is step one. Maybe something caught your eye step three. Next thing you know you are off to the races. However what we have to realize is that it is not how many times we fail. Rather our progress is measured by how many times we get up to try again.
    </p>
    <p><a href="https://localhost:44380/Account/Register" class="btn btn-primary btn-lg">Register now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The food you eat</h2>
        <p>
            The food you eat hold tremendous power over your daily routine. Please use our tools to help track and calculate your daily food intake!.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The fitness you do</h2>
        <p>Your fitness routine can start small or be as advanced as you want it to be. All that truly matters is that you are doing some physical activity. Please use our tools to help track and plan your fitness routine.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The spirit you have</h2>
        <p>An often overlooked aspect of your fitness routine is your spiritual health. This includes aspects such as the rest you take and your social circle. Health is a balancing act that requires consistant dedication to all parts of it. Please use our tools to help moniter your spiritual self.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>